<div class="centered">
    <div class="row">
        <h1 style="text-align: center;">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit"</h1>
    </div>
    <div class="row">
        <div class="col">
            <p-button label="View Locations" routerLink="shops" [style]="{'width': '100%'}"></p-button>
        </div>
        <div class="col">
            <p-button label="Book an appointment" routerLink="shops" [style]="{'width': '100%'}"></p-button>
        </div>
    </div>
</div>